.user-hud {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f8f8f8;
    border: 2px solid #eee;
    border-radius: 4px;
    padding: 5px;
    color: #555;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.todos {
    flex-basis: 25%;
}
  
.in-action {
    flex-basis: 75%;
}
  
h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px;
    text-align: center;
}
  
h1 span {
    font-weight: normal;
    font-size: 14px;
    display: block;
}

.action-instances {
    width: 80%;
    margin: auto;
    background-color: #f6f6f6;
    box-shadow: 0 1px 1px inset rgba(1,1,1,0.05);
    padding: 2%;
    border-radius: 8px;
}

.new-action {
    font-size: small;
    background-color: #555;
    border-radius: 10px;
    color: white;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 2%;
    width: 50%;
    margin: auto;
}

.new-action:hover {
    color: #2ecc71;
    cursor: pointer;
    background-color: #333
}