.mind,
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 1px 1px inset rgba(1,1,1,0.05);
  margin-bottom: 5%;
}

.mind h2,
.body h2 {
  font-size: 18px;
  margin: 0;
  padding: 10px;
  background-color: #fdfdfd;
  border-bottom: 2px solid #dddddd;
  border-radius: 25px 25px 0 0;
  text-align: center;
  margin-bottom: 5%;
}

.action-capsule {
  margin: 0;
  padding: 0;
}

.create-new-action-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #ccc;
}

.create-new-action-prompt p {
  text-align: center;
}